<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}
    {{> title}}

<div class="container-fluid bg-white big-container">
  <br>
  <div class="a-over container-fluid">
    <h1 class="titles">What is the VBHS Coding Club?</h1>
    <div class="lb" style="width: 35%;"></div>
    {{#each cont}}
      {{#if_eq title 'What is the VBHS Coding Club'}}
        <div class="over-cont">{{this.content}}</div>
      {{/if_eq}}
    {{/each}}
  </div>

  <div class="container-fluid a-divs">
    <h1>Divisions</h1>
    <div class="row">
      <div class="col-md-6 div-box" id="left-box">
        <h2>Web Development and Design</h2>
        {{#each cont}}
          {{#if_eq title 'Divisions 1'}}
            <p>{{this.content}}</p>
          {{/if_eq}}
        {{/each}}
      </div>
      <div class="col-md-6 div-box" id="right-box">
        <h2>Hardware and Robotics</h2>
        {{#each cont}}
          {{#if_eq title 'Divisions 2'}}
            <p>{{this.content}}</p>
          {{/if_eq}}
        {{/each}}
      </div>
    </div>
    
  </div>

  <div class="a-mem container-fluid">
    <div class="a-glaze container-fluid">
    <h1 class="titles">Coding Club Leadership Team</h1>
    <div class="mem-box row">
      {{#each mem}}
      <div class="mem-ind col-sm-4">
        <img src="/{{this.picture.0.path}}" alt="" class="mem-pic">
        <h2>{{this.name}}</h2>
        <h3>{{this.rank}}</h3>
      </div>
      {{/each}}
    </div>
    </div>
  </div>
</div>
    {{> footer}}
    {{> jsConnect}}
  </body>
</html>
