<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}

<div class="container-fluid bg-light">

  <br>

<div class="container mEl">
    <h3 class="hTitle" href="/about">About Us</h3>

        <p class="hSub">
          {{# each about}}
          {{this.content}}
          {{/each}}
        </p>
  </div>

  <h1 class="hTitle">Club Members</h1>

  <div class="">
    {{# each members}}
    <div class="col-xs-6">
      <div id="box" class="box box">
        <div class="boxTop boxE">
          
          <h1 class="boxName boxE">
            {{this.name}}
            <small class="boxSmall">{{this.rank}}</small>
          </h1>
          <img src="{{this.picture}}" alt="Chania" class="boxPic" >
          
        </div>
        <div class="boxQuote boxE font-italic">
          "{{this.quote}}"
        </div>
        <br>
        <div class="boxCareer">
          <div class="boxCareerT">Future {{this.type}} - </div><div class="boxCareerE">{{this.career}}</div>
        </div>
        
      </div>
    </div>
    {{/each}}
    </div>
  </div>
    {{> footer}}
    {{> jsConnect}}
  </body>
</html>
