<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}

<div class="container-fluid bg-light">

  <br>

  <div class="">
    {{# each members}}
    <div class="col-xs-6">
      <div id="box1" class="box1 box">
        <div class="boxTop1 boxE">
          
          <h1 class="boxName1 boxE">
            {{this.name}}
            <small class="boxSmall1">{{this.rank}}</small>
          </h1>
          <img src="/pics/python.jpg" alt="Chania" class="boxPic1" >
          
        </div>
        <div class="boxQuote1 boxE font-italic">
          "{{this.quote}}"
        </div>
        <br>
        <div class="boxCareer1">
          <div class="boxCareerT1">Future Career/Major - </div><div class="boxCareerE1">{{this.career}}</div>
        </div>
        
      </div>
    </div>
    {{/each}}
    {{# each members2}}
    <div class="col-xs-6">
      <div id="box2" class="box2 box">
        <div class="boxTop2 boxE">
          
          <h1 class="boxName2 boxE">
            {{this.name}}
            <small class="boxSmall2">{{this.rank}}</small>
          </h1>
          <img src="/pics/python.jpg" alt="Chania" class="boxPic2" >
          
        </div>
        <div class="boxQuote2 boxE font-italic">
          "{{this.quote}}"
        </div>
        <br>
        <div class="boxCareer2">
          <div class="boxCareerT2">Future Career/Major - </div><div class="boxCareerE2">{{this.career}}</div>
        </div>
        
      </div>
    </div>

  </div>
  {{/each}}

      {{> footer}}
</div>
    {{> jsConnect}}
  </body>
</html>
