<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>

    {{> top}}
    {{> nav}}
    
    {{> menu}}

<div class="container-fluid bg-light" style="position: relative;">
  <br>
  <div class="picCar container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
    
      <ol class="carousel-indicators">
        {{# each pic}}
          <li data-target="#myCarousel" data-slide-to="{{this.num}}" class="{{this.active}}"></li>
        {{/each}}
      </ol>
      <div class="carousel-inner" role="listbox">

      {{# each pic}}

        <div class="item {{this.active}}" style="min-height: 400px; max-height: 400px; max-width: 100%">
          <img src="{{this.picture}}" alt="{{this.alt}}" width="{{this.width}}" height="{{this.height}}">
          <div class="carousel-caption">
            <h3>{{this.h3}}</h3>
            <p>{{this.p}}</p>
          </div>
        </div>

      {{/each}}

      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

<br>

{{# each cont}}
  <div class="container mEl" style="margin-bottom: 2vw;">
    <h3 class="hTitle">
      {{this.title}}
    </h3>

        <p class="hSub">
          {{this.content}}
        </p>
  </div>
{{/each}}

</div>
    {{> footer}}
    {{> jsConnect}}
  </body>
</html>
