<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}
  
    <div class="">
      <br>

      {{#each projects}}
        <div class="bg-light">
          <div class="pics{{this.margin}} pics" id="ePics{{this.id}}">
            <img id="ip{{this.id}}" class="ip{{this.margin}}" src="{{this.picture}}" alt="{{this.alt}}">
            <div id="p{{this.id}}Content" class="clearE">
              <h3 id="p1title" class="iTitle"><a href="{{this.url}}">{{this.name}} {{this.year}}</a></h3>
              <h5 class="iContent">{{this.dis1}} <br> {{this.dis2}} <br> {{this.dis3}} </h5>
              <br>
              <h5 class="iContent"><a href="{{this.source}}" target="_blank">Source Code</a></h5>
            </div>
          </div>
        </div>
      {{/each}} 

    </div>
    {{> footer}}
    {{> jsConnect}}
  </body>
</html>
