<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}
    {{> title}}
  
  <div class="container-fluid bg-white big-container">
    <br>
    <div class="p-intro container-fluid">
      <h1 class="titles">What are club projects?</h1>
      <div class="lb" style="width: 25%"></div>
      {{#each cont}}
        {{#if_eq title 'What are club projects'}}
          <div class="int-cont">{{this.content}}</div>
        {{/if_eq}}
      {{/each}}
    </div>    
    <h1 class="p-title titles">Completed Projects</h1>
    <div class="row box-container container-fluid">
      {{#each pro}}
        <div class="bg-white bigBox co-xl-6">
          <div class="pics{{this.margin}} pics" id="ePics{{this.id}}">
            <img id="ip{{this.id}}" class="ip{{this.margin}}" src="{{this.picture}}" alt="{{this.alt}}">
            <div id="p{{this.id}}Content" class="clearE">
              <h3 id="p1title" class="iTitle"><a href="{{this.url}}" target="_blank">{{this.name}} {{this.year}}</a></h3>
              <h5 class="iContent">{{this.dis1}} <br> {{this.dis2}} <br> {{this.dis3}} </h5>
              <br>
              <h5 class="iContent"><a href="{{this.source}}" target="_blank">Source Code</a></h5>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
      
  </div>
    {{> footer}}
    {{> jsConnect}}
  </body>
</html>
